
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

#caja2 {
  background-color: #18A0FB;
  width: 100%;
  height: 100px;
}

#titulo {
  color: rgb(50, 50, 248);
  font-size: 80px;
}

#caja {
  background-color: rgb(255, 255, 255);
  width: 360px;
  height: 100px;
  display:flex;
}


#nombre {
  font-family: 'Original Surfer', cursive;
  font-size: 60px;
  color: rgb(247, 93, 93);
}

#parrafo {
  font-family: 'Original Surfer', cursive;
  color: rgb(42, 10, 184);
  font-size: 24px;
}
#pablo{
    display: flex;
    justify-content:center;
}
#texto-cambia-contenedor:hover #texto-cambia-2 {
  display: flex;font-family: 'Original Surfer', cursive;
}
#texto-cambia-contenedor:hover #texto-cambia-1 {
  display: none;;
}
#texto-cambia-2 {
  display: none;
}
#papa-imagen {
  width: 360px;
  height:360px;
}
#texto-cambia-1{
  font-family: 'Original Surfer', cursive;
}